header {
    background-color: black;
    margin:  10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logos {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
#pesa {
    display: inline-block;
    padding: 30px 40px;
    float: right;
    text-align: center;
    font-weight: 900;
}
.log {
    display: flex;
    justify-content: space-between;
    width: 240px;
    align-items: center;
}
#home:hover {
    border-bottom: 3px solid #ED661F;
}
.navbar a, .log a { 
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.first {
    background-color: #ED661F;
    color: white;
    font-size: x-large;
    padding: 10px;
    font-weight: 400;
}
#p1 {
    margin-left: 90px;
    font-size: 50px;
    font-weight: bolder;
}
#p2 {
    margin-left:90px;
    font-weight: 300;
    font-size: 20px;
}
#image0 {
    margin-left: 200px;
    /* margin-top: 10px; */
    /* flex-basis: 40%; */
    /* display: flex; */
    /* float: left; */
}
.whole {
    display: flex;
    align-items: center;
    background: url("images/background.png");
    background-size: contain;
    /* background-color: blue; */
}

#Exp {
     color: white; 
    background-color: #ED661F;
    font-size: 30px;
    margin-left: 90px ;
    font-weight: bolder;
    padding: 25px 25px; 
}
body {
    margin: 0;
}
.customer {
  border: 2px solid grey;
    /* display: flex; */
   padding: 40px 30px;
   /* margin-left: 10px; */
   list-style-type: none;
   font-size: 20px;
   background-color: white;
   /* width: 500px; */
   font-weight: bold; 
   float: left;
   width: 100%;
   padding: 0 10%;
}
.customer li {
    /* text-align: center; */
    /* margin-left: 20px; */
}
ul {
    display: flex;
    justify-content: space-around;
    justify-items: normal;
}
#caller {
   margin-left: 900px;
   margin-top: 0;
}
#we {
    margin-left: 100px;
    margin-top: 70px;
    font-size: 45px;
}
#built {
    margin-left: 90px;
    font-size: 20px;
    font-weight: 200;
}
#ct {
    margin-left: 800px;
    font-size: 35px ;
}
#go {
    margin-left: 800px;
    font-weight: 200;
}
#most {
    font-size: 45px;
}
#pic img {
    height: 65%;
    width: 65%;
    padding: 10px;
}
#pic p {
    padding: 10px;
    line-height: 1.66%;
}
#pic {
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
#nw {
    font-size: 45px;
    margin-right: 2px;
}
#just {
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
#just img {
    height: 65%;
    width: 65%;
    padding: 10px;
}
#just p {
padding: 10px;
line-height: 1.65%; 
}
#lastp {
    float: right;
    width: 27%;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}
#centa {
    margin-right: 800px;
}

#feedback-header {
    font-size: 30px;
}

.feedback-container {
    display: flex;
    justify-content: space-between;
}

.review {
    flex-basis: 400px;
    padding: 15px;
    border: 1px solid #cccccc;
    margin: 15px 0;
    border-bottom: 5px solid #cccccc;

}

.stars {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stars .star {
    font-size: 5rem;
    color: #ED661F;
}

.stars .star.gray {
    color: #cccccc;
}

.profile {
    float: left;
    width: 100%;
    margin: 15px 0;
}

.profile img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.profile h4 {
    float: right;
    width: calc(100% - 110px);
    line-height: 60px;

}

.review h3 {
    font-size: 2rem;
}


#read-more {
    float: right;
    color: black;
    font-size: 30px;
    font-weight: 700;
    padding-right: 50px;
    padding-top: 20px;
    background: none;
}


#arrow{
    color: #ED661F;
    font-weight: 700;
    font-size:4rem;
}


.subscribe {
    text-align: center;
    font-size: 1rem;
    background-color: black;
    float: left;
    width: 100%;
    padding: 100px 0;
    color: #ffffff;
}



.subscribe-form {
    clear: both;
    margin: 30px auto;
    display: block;
    /* border: 2px solid teal; */
    width: 100%;
}

.subscribe-form #textfield {
    background: #ffffff;
    padding: 1px 30px;
    font-weight: 600;
    height: 50px;
    font-size: 1.2rem;
    margin: 0;
    /* ove4rflow: hidden; */
}


.subscribe-form #subscribe-button {
    background: #ED661F;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 5px 30px;
    font-weight: 700;
    height: 50px;
    margin: 0;
    line-height: 40px;
    margin-left: -4px
}



/*  Footer */

footer {
    /* border: 10px solid yellowgreen; */
    float: left;
    width: 100%;
    background: black;
    color: #ffffff;
    padding: 60px 5% 30px;
    border-top: 5px solid white;
}


.left-side {
    float: left;
    width: 40%;

}

.left-side img {
    width: 20%;
    height: 10%;
}

.right-side{
    float: right;
    width: 60%;
    
}
.bottomlst {
list-style-type: none;
float: left;
width: 33%;
}

#sm {
height: 30px;
width: 30px;
margin: 10px;
}


.closing-statement {
text-align: center;
font-weight: 700;
clear: both;
}


